<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hackathon_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>862FCE021CA65B4300DE971A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862FCE1E1CA65B4400DE971A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862FCE291CA65B4400DE971A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
