<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-67</integer>
		<key>minor</key>
		<integer>3</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-69</integer>
		<key>minor</key>
		<integer>10</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-61</integer>
		<key>minor</key>
		<integer>2</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-63</integer>
		<key>minor</key>
		<integer>1</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-64</integer>
		<key>minor</key>
		<integer>1</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-71</integer>
		<key>minor</key>
		<integer>2</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-68</integer>
		<key>minor</key>
		<integer>4</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-64</integer>
		<key>minor</key>
		<integer>5</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-65</integer>
		<key>minor</key>
		<integer>6</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-66</integer>
		<key>minor</key>
		<integer>3</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-64</integer>
		<key>minor</key>
		<integer>4</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-69</integer>
		<key>minor</key>
		<integer>8</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-71</integer>
		<key>minor</key>
		<integer>7</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-63</integer>
		<key>minor</key>
		<integer>5</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>1</integer>
		<key>measuredPower</key>
		<integer>-71</integer>
		<key>minor</key>
		<integer>9</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-68</integer>
		<key>minor</key>
		<integer>6</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-59</integer>
		<key>minor</key>
		<integer>7</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-67</integer>
		<key>minor</key>
		<integer>8</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-74</integer>
		<key>minor</key>
		<integer>9</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>2</integer>
		<key>measuredPower</key>
		<integer>-72</integer>
		<key>minor</key>
		<integer>10</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-67</integer>
		<key>minor</key>
		<integer>1</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-65</integer>
		<key>minor</key>
		<integer>2</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-69</integer>
		<key>minor</key>
		<integer>3</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-67</integer>
		<key>minor</key>
		<integer>6</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-66</integer>
		<key>minor</key>
		<integer>4</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-65</integer>
		<key>minor</key>
		<integer>5</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-70</integer>
		<key>minor</key>
		<integer>7</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-63</integer>
		<key>minor</key>
		<integer>8</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-71</integer>
		<key>minor</key>
		<integer>9</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
	<dict>
		<key>deviceModel</key>
		<string>iPhone6,1</string>
		<key>iOSVersion</key>
		<string>9.0</string>
		<key>major</key>
		<integer>3</integer>
		<key>measuredPower</key>
		<integer>-70</integer>
		<key>minor</key>
		<integer>10</integer>
		<key>uuid</key>
		<string>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</string>
	</dict>
</array>
</plist>
